[submodule "Library/AFNetworking"]
	path = Library/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "Library/JSONKit"]
	path = Library/JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "Library/SVProgressHUD"]
	path = Library/SVProgressHUD
	url = git://github.com/samvermette/SVProgressHUD.git
[submodule "Library/ftutils"]
	path = Library/ftutils
	url = git://github.com/neror/ftutils.git
[submodule "Library/iOS-boilerplate"]
	path = Library/iOS-boilerplate
	url = git://github.com/gimenete/iOS-boilerplate.git
[submodule "Library/TestFlight-SDK"]
	path = Library/TestFlight-SDK
	url = git://github.com/danielctull/TestFlight-SDK.git
[submodule "Library/EGOTableViewPullRefresh"]
	path = Library/EGOTableViewPullRefresh
	url = git://github.com/enormego/EGOTableViewPullRefresh.git
[submodule "Library/XMPPFramework-linked"]
	path = Library/XMPPFramework-linked
	url = git://github.com/robbiehanson/XMPPFramework.git
